body {
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
}

.hidden{
    display: none;
}

p,
h2 {
    margin: 0;
}

.container{
    background-color: #F6F4F4;
    height: auto;
    width: 70vw;
    padding: 50px;
}

.container .presentation, .container .inputUser, .container .outputUser, .container .buttonsAction{
    width: 100%;
}

.presentation{
    text-align: center;
}

.description{
    color: #585858;
    font-size: .8rem;
}

.title{
    font-size: 2.5rem;
}

.inputUser{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.inputUser__title{
    width: 30vw;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.inputUser_tag{
    width: 30vw;
    height: 10vh;
    border: 2px solid #747474;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.inputContent{
    margin-left: 15px;
}

.buttons button{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #707070;
    color: #fff;
}

.buttons button:hover{
    background-color: #585858e6;
}

.outputUser{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.outputUser__title{
    width: 30vw;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.outputUser_tag{
    width: 30vw;
    height: 10vh;
    border: 2px solid #747474;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.outputUser_tag_content{
    margin-left: 15px;
}

.buttonsAction{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.buttonsAction button{
    margin: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.buttonsAction button#convert{
    background-color: #9f0000;
}

#convert:hover {
    background-color: #9f0000e6
}

.buttonsAction button#clear{
    background-color: #585858;
}

#clear:hover {
    background-color: #585858e6
}

@media (max-width: 425px) {
    .outputUser_tag, .inputUser_tag{
        height: 20vh;
        width: 50vw;
    }

    .inputUser__title, .outputUser__title  {
        width: 40vh;
    }
}

@media (max-width: 375px) {
    .inputUser__title, .outputUser__title  {
        width: 35vh;
    }
}

@media (max-width: 320px) {
    .inputUser__title, .outputUser__title  {
        width: 30vh;
    }
}